nav {
  display: flex;
  padding: 0.5em;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  /* position: fixed;
  z-index: 1; */
  width: 100%;
}

.nav__projectName {
  color: #838259;
  text-decoration: none;
  font-size: 30px;
}

.authLink {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  background: linear-gradient(to right, #1845ad, #23a2f6);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-logoutbtn:hover {
  background: linear-gradient(to right, #1845ad, #f88b61);
  /* transform: scale(1.05);
  background-color: #d13e3e; */
}