footer {
  background: #ac0d0d;
  /* background: #FA4402;  */
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  color: white;
}

.fixed-bottom{
font-size: 12px;
}